<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API FOR IRIS DATASET</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	 <center>
	<h1>Spam Detector For SMS Messages : BY PRIYANG BHATT</h1>

     <!-- Main Input For Receiving Query to our ML -->
	 
	    
       <marquee><h1 align="center"> <font color="red">SPAM SMS Classfication </font></h1></marquee>
    <fieldset bordercolor="green">
    <legend>SPAM SMS Classfication </legend>	
    <form action="{{ url_for('predict')}}"method="post">
        <p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
    </form> 
</fieldset>
	    
   
    <center>
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
